# Product: 		Inti - Core of Pakai framework
# Version: 		1.00
# License:		MIT License
# Developer:	Poon Yip Hoon (Aeric)
# Donation:		https://paypal.me/aeric80/
# GitHub:		https://github.com/pyhoon/inti-b4j

# Thanks to Erel, Anywhere Software for the great products and B4X community for encouragement and supports.
# Please consider to donate to me so I can continue to improve this project
# Lines starting with '#' are comments.
# Backslash character at the end of line means that the command continues in the next line.

#ROOT_URL=http://127.0.0.1
#ROOT_PATH=
#API_NAME=api
#API_VERSIONING=False
#ServerPort=8080
#SSLPort=0